COMPOSE_PROJECT_NAME=employmentvc-keycloak
KEYCLOAK_HOST_PORT=8092
KEYCLOAK_DB_HOST_PORT=5433
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
